# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
/src/assets_backup
package-lock.json
# testing
/coverage
.env.production
# production
/build
/src/assets-backup
# misc
.DS_Store
.env.local
.env.development.local
index.html
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
dist
.idea
.vscode
.eslintrc.json
.eslintignore
yarn-error.log*
yarn.lock
/src-tauri/target/
/src-tauri/Cargo.lock
/express-server/node_modules
/express-server/package-lock.json
/express-server/.env

favicon_old.ico
logo_old.png
.env
.env
.vscode/
*.log