/**
 * This file is part of Chat Viewer.
 * 
 * Chat Viewer is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * Chat Viewer is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with Chat Viewer. If not, see <https://www.gnu.org/licenses/>.
 *
 * @format
 */

$basic-transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
$basic-bg-color: #30383b;
$hover-bg-color: #262a2b;
$active-bg-color: #33373a;
$material-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
  0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);

@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Anonymous Pro", monospace;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  height: 100vh;
  background: #353a3c;
  position: relative;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding-top: 0;
}

.header,
.collection-container {
  width: 100%;
  display: flex;
  justify-content: center; // Position buttons side by side
  flex-wrap: nowrap; // Prevent wrapping to the new line
  flex-shrink: 0;
}

.header {
  margin-top: 0.5em; // Reduce top margin
  margin-bottom: 2em;
  display: flex;
  align-items: flex-start; /* change this from center or flex-end to flex-start */
}

.chat-container {
  margin-bottom: 2em;
}

.footer {
  margin-bottom: 2em;
}

.collection-container {
  margin: 0; // Remove vertical margin
}

.reset-button,
.button,
.search-term {
  display: inline-flex;
  color: #fff;
  background-color: $basic-bg-color;
  border-radius: 0.5em;
  border: none;
  transition: $basic-transition;
  align-items: center;
  justify-content: center;
  box-shadow: $material-shadow;
}

.reset-button {
  font-size: 2.5em;
  margin-top: 0.1em;
  margin-right: 1em;
  padding: 0.25em 0.5em; // Reduce padding
}

.button,
.search-term {
  font-size: 0.875em; // Reduce font size
  margin: 0.25em; // Reduce margin
  padding: 0.25em 0.5em; // Reduce padding
  align-self: flex-start; /* change this from center or flex-end to flex-start */
}
.reset-button:hover,
.button:hover,
.search-term:hover {
  background-color: $hover-bg-color;
  cursor: pointer;
}

.reset-button:active,
.button:active,
.search-term:active {
  background-color: $active-bg-color;
}

.chat-container {
  width: 100%;
  max-height: 80%; // Reduce the maximum height
  background: #1a1d1e;
  border: 1px solid #5e7a86;
  color: whitesmoke;
  border-radius: 0.5em;
  box-shadow: $material-shadow;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.chat-header,
.chat-footer {
  padding: 0.5em; // Reduce padding
  display: flex;
  align-items: center;
  justify-content: space-between; // Position elements side by side
  background: #232627;
}

.chat-photo {
  height: 5em; // Reduce the size of the photo
  width: 5em;
  border-radius: 50%;
  margin-left: 50px; // Reduce left margin
  margin-right: 10px;
  object-fit: cover;
}
.chat-body {
  flex-grow: 1;
  overflow: auto;
  padding: 0.5em; // Reduce padding
  display: flex;
  flex-direction: column;
  gap: 1em;

  &.loading {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.loading-bar {
  width: 100%;
  height: 0.25em; // Reduce the height of the loading bar
  background-color: #b70e0e;
  border-radius: 1em;
  animation: loading 3s infinite ease-in-out;
  opacity: 0.7;
}

@keyframes loading {
  0% {
    transform: translateX(-100%);
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateX(100%);
    opacity: 0.2;
  }
}

.send-box {
  flex-grow: 1;
  background: #262a2b;
  border: none;
  border-radius: 1.5em;
  padding: 0 0.5em; // Reduce padding
  color: #fff;
  font-size: 0.875em; // Reduce font size
}

.header-container,
.footer-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
}

.search-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
}

@media (max-width: 600px) {
  .container {
    padding: 0.25em; // Reduce padding
  }

  .reset-button {
    font-size: 1.5em;
    margin-top: 0.1em;
    margin-right: 1em;
    padding: 0.25em 0.5em; // Reduce padding
  }

  .button,
  .search-term {
    font-size: 0.75em; // Reduce font size
    padding: 0.125em 0.25em; // Reduce padding
    margin: 0.125em; // Reduce margin
  }

  .chat-container {
    border-radius: 0.25em;
  }

  .chat-header,
  .chat-footer {
    padding: 0.25em; // Reduce padding
    margin-top: 0.5em;
  }

  .chat-body {
    padding: 0.25em; // Reduce padding
  }

  .send-box {
    font-size: 0.75em; // Reduce font size
  }

  .loading-bar {
    height: 0.125em; // Reduce the height of the loading bar
  }
}
